.vs/*
Simulation/*
GameExample/*
Documention/*
Tools/*
Library/*
Packages/*
Logs/*
UserSettings/*
ProjectSettings/*
Temp/*
Assets/Scenes/Crafts/*
Assets/TextMesh Pro/*
Assets/Plugins/*
Assets/Crafts/*
*.csproj
*.slnx
